<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

#Add headers richard checnes
<IfModule mod_headers.c>
  Header always set X-Content-Type-Options nosniff
  Header set Cache-Control "no-store, no-cache, must-revalidate, post-check=0, pre-check=0"
  Header set X-Frame-Options SAMEORIGIN
  Header set X-XSS-Protection 1;mode=block
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  Header set Referrer-Policy "no-referrer"
  Header always set Feature-Policy "fullscreen 'none'; microphone 'none'"
  Header always set Content-Security-Policy "upgrade-insecure-requests; frame-ancestors 'self'"
</IfModule>