
/*MENU*/
.menu-header{
    background: #ffd53c;
    border-bottom: 1px solid #f39f6e;
}
.navbar-default .navbar-nav>li>a {
    color: #5f5d5d;
}
.navbar ul.nav>li>a:hover {
    color: #FFF;
    background-color: #f9864f;
    z-index: 1;
    height: 50px;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,.15);
}
.navbar ul.nav>li.active a {
    color: #FFF!important;
    background: #f9864f!important;
    z-index: 1;
    height: 50px;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,.15);
}
/*FIN MENU*/

.ui-autocomplete, .ui-menu {
    border: 1px solid rgba(0,0,0,.2);
    background: #FFF;
}

.ui-menu .ui-menu-item{
	border-bottom: 1px solid #e2d6d6 !important;
}

.btn-group .active{
    background: #de9898 !important;
}

.align-center{
    text-align: center !important;
}

.align-right{
    text-align: right !important;
}

.align-left{
    text-align: left !important;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -3px;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}

.nav-tabs {
    border-color: #C5D0DC;
    margin-bottom: 0!important;
    position: relative;
    top: 1px;
}


.nav-tabs, .nav-tabs>li:first-child>a {
    margin-left: 0;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #576373;
    border-color: #C5D0DC #C5D0DC transparent;
    border-top: 2px solid #4C8FBD;
    background-color: #FFF;
    z-index: 1;
    line-height: 18px;
    margin-top: -1px;
    box-shadow: 0 -2px 3px 0 rgba(0,0,0,.15);
}

.tab-content {
    border: 1px solid #C5D0DC;
    padding: 16px 12px;
    position: relative;
}

.table-header{
    background: #f7dfde;
}
.td-header{
    background:#f3ebd5;
}

input[readonly='readonly'] { 
    background-color: #f7f1e3!important;
}


/*ICONS*/
.color-red{
    color: #d9534f!important;
}
.color-blue{
    color: #4b8cde!important;
}
.bigger-50{
    font-size: 50%!important;
}
.bigger-100{
    font-size: 100%!important;
}
.bigger-200{
    font-size: 200%!important;
}
.bigger-300{
    font-size: 300%!important;
}
/*FIN ICONS*/

/*TABLA SIMULACION*/
table.excel .form-control{
    height: 23px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    transition: none;
}
.excel>tbody>tr>td, .excel>tbody>tr>th, .excel>tfoot>tr>td, .excel>tfoot>tr>th, .excel>thead>tr>td, .excel>thead>tr>th {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.excel input[readonly='readonly'] { 
    background-color: #ffffff!important;
    border: 0px;
}
/*FIN SIMULACION*/

@media (max-width: 1000px) {
  .container{
        width: 100%;
        padding-right: 8px;
        padding-left: 8px;
        margin-right: auto;
        margin-left: auto;
    }
}
